@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Global style */

body {
  background-color: #080c49;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

li {
  display: inline;
  text-align: center;
  list-style-type: none;
  margin: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:focus {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

/* Utils */

/* Button component */

.button {
  align-items: center; /* Centre verticalement un élément */
  background-color: rgb(176, 20, 176);
  border-radius: 4px;
  color: white;
  display: flex;
  height: 56px;
  justify-content: center; /* Centre horizontalement un élément */
  text-decoration: none;
  width: 160px;
}

.button.mod-orange {
  background-color: orange;
}

.button.mod-margin {
  margin-right: 20px;
}

/* Hero component */

.hero {
  background-image: url(imgs/BG.png);
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

  .hero-graphics {
    background-image: url(imgs/Group.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

    .hero-graphics-header {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      font-weight: bold;
      justify-content: space-between;
      padding: 25px 90px;
      width: 100%;
    }

      .hero-graphics-header-logo {
        height: 36px;
        width: 210px;
      }

      .hero-graphics-header-buttons {
        display: flex;
      }

    .hero-graphics-content {
      box-sizing: border-box;
      height: 450px;
      margin-top: 150px;
      margin-left: 200px;
      max-width: 30%;
    }

      .hero-graphics-content-calendar {
        display: flex;
        font-size: 18px;
        font-weight: bold;
      }

        .hero-graphics-content-calendar-item {
          margin-right: 20px;
          min-width: 100px;
        }

          .hero-graphics-content-calendar-item-number {
            display: flex;
            background-color: purple;
            color: white;
            align-items: center;
            justify-content: center;
            border-radius: 4px 4px 0px 0px;
            padding: 15px 21px;
          }

          .hero-graphics-content-calendar-item-label {
            display: flex;
            background-color: white;
            color: black;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 4px 4px;
            padding: 15px 21px;
          }

      .hero-graphics-content-buttons {
        display: flex;
        font-size: 16px;
        font-weight: bold;
      }

.partners {}

  .partners-logo {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 100px auto 0;
    max-width: 1325px;
  }  

  .partners-content {
    display: flex;
    height: 60vh;
    justify-content: center;
    max-width: 1325px;
    margin: 100px auto 0;
  }

    .partners-content-text-group {
      font-weight: bold;
      max-width: 554px;
      width: auto;
    }

      .partners-content-text-group-first{
        font-size: 20px;
      }

      .partners-content-text-group-second{
        font-size: 36px;
        line-height: 48px;
        margin-top: 30px;
      }

      .partners-content-text-group-third {
        font-size: 18px;
      }

      .partners-content-text-group-fourth {
        font-weight: normal;
      }

      .partners-content-text-group-fifth{
        font-weight: normal;
      }

    .partners-content-image {
      padding-left: 50px;
      width: 50%;
    }

.features {
  background-color: #10144f;
  text-align: center;
  width: 100%;
}

  .features-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 100px;
    width: 50%;
  }

    .features-header-overtitle {
      font-size: 20px;
    }

    .features-header-title {
      margin-top: 0;
      font-size: 35px;
    }

.features-content {
  display: flex;
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 768px) {

  .button {}

  .button.mod-margin {
    margin: 0 0 20px;
  }

  .hero {
    background-position: 10%;
    height: initial;
    min-height: 100vh;
    width: 100%;
  }

    .hero-graphics {}

      .hero-graphics-header {
        flex-direction: column;
      }

        .hero-graphics-header-logo {
          width: 150px;
          height: 27px;
          margin: auto;
        }

        .hero-graphics-header-nav {
          display: none;
        }

        .hero-graphics-header-buttons {
          flex-direction: column;
          margin: auto;
          padding-top: 50px;
        }

      .hero-graphics-content {
        height: initial;
        margin-left: 0;
        margin-top: 30px;
        max-width: 100%;
      }

        .hero-graphics-content-calendar {
          flex-flow: wrap;
          width: 100%;
        }

          .hero-graphics-content-calendar-item {
            margin: 10px;
            width: calc(50% - 20px);
          }

        .hero-graphics-content-title {
          margin: 10px;
          text-align: center;
        }

        .hero-graphics-content-buttons {
          justify-content: space-evenly;
          margin-top: 50px;
        }

  .partners-logo {
    margin: auto;
    width: 100%;
  } 

  .partners-content {
    flex-direction: column;
    height: initial;
    justify-content: center;
    margin: 30px auto 0;
    width: 100%;
  }

    .partners-content-text-group {
      text-align: center;
    }

    .partners-content-text-group-second{
		  font-size: 30px;
		  line-height: 40px;
		  margin-top: 30px;
	  }

    .partners-content-text-group-third {
		  font-size: 16px;
	  }

    .partners-content-image{
      padding-left: 0px;
      width: 100%;
    }

    .partners-content-image img {
      max-width: 100%;
    }

.features-header {
  height: initial;
}

  .features-header-titles {
    padding-top: 50px;
  }

    .features-header-small-title {
      font-size: 18px;
    }

    .features-header-big-title {
      font-size: 22px;
      margin-top: 0;
    }

  .features-content{
    flex-direction: column;
  }

  .features-content img {
    max-width: 100%;
  }
}

