@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Global style */

body {
  background-color: #080c49;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

li {
  display: inline;
  text-align: center;
  list-style-type: none;
  margin: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:focus {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

/* Utils */

/* Button component */

.button {
  align-items: center; /* Centre verticalement un élément */
  background-color: rgb(176, 20, 176);
  border-radius: 4px;
  color: white;
  display: flex;
  height: 56px;
  justify-content: center; /* Centre horizontalement un élément */
  text-decoration: none;
  width: 160px;
}

.button.mod-orange {
  background-color: orange;
}

.button.mod-margin {
  margin-right: 20px;
}

/* Hero component */

.hero {
  background-image: url(imgs/BG.png);
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

  .hero-graphics {
    background-image: url(imgs/Group.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

    .hero-graphics-header {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      font-weight: bold;
      justify-content: space-between;
      padding: 25px 90px;
      width: 100%;
    }

      .hero-graphics-header-logo {
        height: 36px;
        width: 210px;
      }

      .hero-graphics-header-buttons {
        display: flex;
      }

    .hero-graphics-content {
      box-sizing: border-box;
      height: 450px;
      margin-top: 150px;
      margin-left: 200px;
      max-width: 30%;
    }

      .hero-graphics-content-calendar {
        display: flex;
        font-size: 18px;
        font-weight: bold;
      }

        .hero-graphics-content-calendar-item {
          margin-right: 20px;
          min-width: 100px;
        }

          .hero-graphics-content-calendar-item-number {
            display: flex;
            background-color: purple;
            color: white;
            align-items: center;
            justify-content: center;
            border-radius: 4px 4px 0px 0px;
            padding: 15px 21px;
          }

          .hero-graphics-content-calendar-item-label {
            display: flex;
            background-color: white;
            color: black;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 4px 4px;
            padding: 15px 21px;
          }

      .hero-graphics-content-buttons {
        display: flex;
        font-size: 16px;
        font-weight: bold;
      }

.partners {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 100px;
}

/* .partners{
    display: flex;
    justify-content: space-between;
    margin : 10px 10px 10px 10px;
    height:60px;
} */
.contenu2 {
  display: flex;
  margin: 100px auto 0;
  justify-content: center;
  max-width: 1325px;
  height: 60vh;

  /* box-sizing: border-box; */
}
.divtext {
  max-width: 554px;
  width: auto;
  font-weight: bold;
}
.p1 {
  font-size: 20px;
}
.p2 {
  font-size: 36px;
  margin-top: 30px;
  line-height: 48px;
}
.p3 {
  font-size: 18px;
}
.p4 {
  font-weight: normal;
}
.p5 {
  font-weight: normal;
}
.divimg {
  width: 50%;
  padding-left: 50px;
}
.contenu3 {
  width: 100%;
  height: 80vh;
  background-color: #10144f;
  text-align: center;

  /* box-sizing: border-box; */
}
.titre3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 50%;
  padding-top: 100px;
  margin: auto;
  margin-bottom: 50px;
}
.c3p1 {
  font-size: 20px;
}
.c3h2 {
  margin-top: 0;
  font-size: 35px;
}
.group {
  display: flex;
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 768px) {

  .button {}

  .button.mod-margin {
    margin: 0 0 20px;
  }

  .hero {
    background-position: 10%;
    height: initial;
    min-height: 100vh;
    width: 100%;
  }

    .hero-graphics {}

      .hero-graphics-header {
        flex-direction: column;
      }

        .hero-graphics-header-logo {
          width: 150px;
          height: 27px;
          margin: auto;
        }

        .hero-graphics-header-nav {
          display: none;
        }

        .hero-graphics-header-buttons {
          flex-direction: column;
          margin: auto;
          padding-top: 50px;
        }

      .hero-graphics-content {
        height: initial;
        margin-left: 0;
        margin-top: 30px;
        max-width: 100%;
      }

        .hero-graphics-content-calendar {
          flex-flow: wrap;
          width: 100%;
        }

          .hero-graphics-content-calendar-item {
            margin: 10px;
            width: calc(50% - 20px);
          }

        .hero-graphics-content-title {
          margin: 10px;
          text-align: center;
        }

        .hero-graphics-content-buttons {
          justify-content: space-evenly;
          margin-top: 50px;
        }

  .group {
    flex-direction: column;
  }

  
  
  
  
  .contenu2 {
    flex-direction: column;
    margin: 30px auto 0;
    justify-content: center;
    max-width: 100%;
    height: initial;

    /* box-sizing: border-box; */
  }
  .titre {
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  .login {
    margin-top: 20px;
  }
  .partners {
    width: 100%;
    margin: auto;
  }
  
  .divtext {
    text-align: center;
  }
  .divimg {
    width: 100%;
    padding-left: 0px;
  }
  .divimg img {
    max-width: 100%;
  }
  .contenu3 {
    height: initial;
  }
  .titre3 {
    padding-top: 50px;
  }
  .c3p1 {
    font-size: 18px;
  }
  .c3h2 {
    margin-top: 0;
    font-size: 22px;
  }
  .group img {
    max-width: 100%;
  }
  .sign-up {
    margin-right: 0;
  }
}

.u-text-center {
  text-align: center;
}
